@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-black text-slate-100;

    overscroll-behavior: none;
}

html {
    overflow:hidden;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }